<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>addBook</title>
<th:block th:include=".././static/admin/allCss.html"></th:block>
<style>
.hidden {
	display: none;
}
</style>
</head>
<body style="background-color: #f7f7f7;">
	<th:block th:include=".././static/admin/navbar.html"></th:block>
	<div class="container">
		<h4 class="text-center">Add Book</h4>
		<div th:if="${param.success != null}" class="text-center text-success">
			<p th:if="${param.success}">Book have been added</p>
		</div>

		<div th:if="${param.fail != null}" class="text-center text-danger">
			<p th:if="${param.fail}">Book already exist</p>
		</div>

		<form action="http://localhost:8080/api/book/add" method="post"
			enctype="multipart/form-data">
			<!--=========== BOOK INFO ===========-->
			<h4 class="my-4">Book Information</h4>
			<div class="form-row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="name">Book Name</label> <input type="text" name="name"
							class="form-control" id="name" aria-describedby="emailHelp"
							placeholder="Enter name">
					</div>
					<div class="form-group">
						<label for="price">Book Price</label> <input type="number"
							step="0.01" name="price" class="form-control" id="price"
							placeholder="Price">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="author">Book Author</label> <input type="text"
							name="authorName" class="form-control" id="author"
							placeholder="Author">
					</div>
					<div class="form-group">
						<label for="category">Book Category</label> <input type="text"
							name="categoryName" class="form-control" id="category"
							aria-describedby="emailHelp" placeholder="Category">
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="description">Description</label>
				<textarea class="form-control" name="description" id="description"
					rows="3"></textarea>
			</div>
			<div class="form-group">
				<label for="stock">Stock</label> <select class="form-control"
					id="stock" name="stockName">
					<option th:value="${stock.getName()}" th:each="stock : ${stocks}"
						th:utext="${stock.getName()}"></option>
				</select>
			</div>
			<div class="form-group">
				<label for="quanity">Quantity</label> <input type="number"
					class="form-control" name="quanity" id="quanity"></input>
			</div>
			<div class="form-group">
				<label for="publisherExist">Publisher</label> <select
					class="form-control" id="publisherExist" name="publisherExist">
					<option th:value="${publisher.getPublisherName()}"
						th:each="publisher : ${publishers}"
						th:utext="${publisher.getPublisherName()}"></option>
				</select>
			</div>
			<!--=========== PUBLISHER INFO ===========-->
			<button type="button" class="btn btn-secondary mb-3"
				onclick="togglePublisherFields()">Add New Publisher</button>
			<div id="publisher-fields" class="hidden">
				<h4>Publisher Information</h4>
				<div class="form-row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="publisherName">Publisher Name</label> <input
								type="text" name="publisherName" class="form-control"
								id="publisherName" placeholder="Name" disabled>
						</div>
						<div class="form-group">
							<label for="email">Publisher Email</label> <input type="email"
								name="publisherEmail" class="form-control" id="email"
								placeholder="Email" disabled>
						</div>
						<div class="form-group">
							<label for="address">Publisher Address</label> <input type="text"
								name="publisherAddress" class="form-control" id="address"
								placeholder="Address" disabled>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="phone">Publisher Phone</label> <input type="tel"
								name="publisherPhone" class="form-control" id="phone"
								placeholder="Phone" disabled>
						</div>
						<div class="form-group">
							<label for="country">Publisher Country</label> <input type="text"
								name="publisherCountry" class="form-control" id="country"
								placeholder="Country" disabled>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group col-4 pl-0">
				<label for="image">Image</label> <input type="file" name="image"
					class="form-control-file" id="image">
			</div>
			<input type="hidden" name="addNewPublisher" id="addNewPublisher"
				value="false">
			<button type="submit" class="btn btn-primary btn-lg btn-block">ADD</button>
		</form>
	</div>
	<div style="margin-top: 100px">
		<th:block th:include=".././static/admin/footer.html"></th:block>
	</div>


	<!-- Code javascript -->
	<script>
		function togglePublisherFields() {
			var publisherFields = document.getElementById("publisher-fields");
			var publisherExist = document.getElementById("publisherExist");
			var publisherLabel = document
					.querySelector("label[for='publisherExist']"); // Add this line
			var addNewPublisherInput = document
					.getElementById("addNewPublisher");
			var publisherInputs = document
					.querySelectorAll("#publisher-fields input");

			if (publisherFields.classList.contains("hidden")) {
				publisherFields.classList.remove("hidden");
				publisherExist.style.display = "none";
				publisherLabel.style.display = "none"; // Add this line
				addNewPublisherInput.value = "true";
				publisherInputs.forEach(function(input) {
					input.disabled = false;
				});
			} else {
				publisherFields.classList.add("hidden");
				publisherExist.style.display = "block";
				publisherLabel.style.display = "block"; // Add this line
				addNewPublisherInput.value = "false";
				publisherInputs.forEach(function(input) {
					input.disabled = true;
				});
			}
		}
	</script>
</body>
</html>