<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Staff: Home</title>
<th:block th:include=".././static/staff/allCss.html"></th:block>
<style type="text/css">
.row .col-md-3 a {
	text-decoration: none;
	color: black;
}
</style>
<th:block th:include=".././static/staff/allCss.html"></th:block>
</head>
<body style="background-color: #f7f7f7;">
	<th:block th:include=".././static/staff/navbar.html"></th:block>
	<h1 class="text-center">Staff Home</h1>
	<div class="container">
		<div class="row p-5">
			<div class="col-md-3">
				<a th:href="@{/staffHome/orders}">
					<div class="card">
						<div class="card-body text-center">
							<i class="fa-solid fa-box-open fa-3x text-warning"></i><br>
							<h4>Order</h4>
							------------------
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-3">
				<a th:href="@{/staffHome/customers}">
					<div class="card">
						<div class="card-body text-center">
							<i class="fa-solid fa-users fa-3x text-success"></i><br>
							<h4>Customer</h4>
							------------------
						</div>
					</div>
				</a>
			</div>
			<div class="col-md-3">
				<a data-toggle="modal" data-target="#exampleModal" href="">
					<div class="card">
						<div class="card-body text-center">
							<i class="fa-solid fa-right-from-bracket fa-3x text-primary"></i></i><br>
							<h4>Logout</h4>
							------------------
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div style="margin-top: 248px">
		<th:block th:include=".././static/staff/footer.html"></th:block>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Logout</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="text-center">
						<h4>Do you want logout ?</h4>
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Close</button>
						<a th:href="@{/home}" type="button" class="btn btn-primary">Logout</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>